In [9]:
#Experiment was run with a c6220 Node.

# State 0: Poll
# State 1: C1
# State 2: C1E
# State 3: C3
# State 4: C6

# State variable in binary format determines which states were disabled
# i.e. State #7 = 00111 = Poll, C1, C1E were disabled.

import pandas as pd

df = pd.read_csv("./results.csv")
df.set_index(df.columns[0], inplace=True)
display(df)

,CORE_ENERGY,PKG_ENERGY,RAM_ENERGY,POLL_RES,C1_RES,C1E_RES,C3_RES,C6_RES
STATE,,,,,,,,
0,86.37,330.36,289.38,186510278,427420,243260,175729,31832837
1,79.42,305.70,283.77,186510278,427544,243376,175944,31849102
2,79.38,301.78,280.14,186510554,427719,243634,176156,31865441
3,79.63,301.31,285.38,186510559,427719,243853,176342,31881830
4,73.68,287.25,285.13,186510571,428166,243919,176564,31896939
5,78.54,304.13,288.33,186510571,428525,243919,176776,31913252
6,80.77,308.52,289.19,186510722,428567,243919,177006,31929579
7,78.62,299.58,284.97,186510735,428567,243919,177435,31945516
8,80.27,307.76,286.13,186510754,429048,244135,177654,31961327
9,82.00,311.52,289.33,186510754,429329,244445,177654,31977850
10,74.61,289.88,288.52,186510794,429357,244765,177654,31993465
11,73.37,286.19,287.66,186510801,429357,245628,177654,32008238
12,77.76,299.89,285.68,186510814,429608,245835,177654,32024033
13,82.79,310.18,288.39,186510814,430041,245835,177654,32041295
14,75.79,294.79,284.27,186511057,430118,245835,177654,32057107
15,80.90,309.06,286.59,186511082,430118,245835,177654,32074583
16,98.25,316.78,282.94,186511162,430519,245994,186096,32082638
17,96.19,310.24,281.41,186511162,430655,246102,201390,32082638
18,94.08,305.92,286.17,186511217,430676,246213,215877,32082638
19,108.42,347.07,286.27,186511221,430676,246733,232256,32082638
20,100.88,328.13,283.83,186511234,430959,246805,248129,32082638
21,100.45,321.79,284.69,186511234,431162,246805,264867,32082638
22,92.76,302.09,278.56,186511332,431213,246805,279417,32082638
23,104.66,338.51,280.77,186511341,431213,246805,296920,32082638
24,560.60,1302.20,434.06,186511651,431742,259192,304658,32082638
25,563.04,1305.20,433.91,186511651,432022,277749,304658,32082638
26,564.17,1306.87,434.27,186511719,432052,295412,304658,32082638
27,567.10,1310.14,434.91,186511732,432052,312973,304658,32082638
28,623.05,1366.41,434.81,186511747,442174,317657,304658,32082638
29,624.34,1368.19,435.21,186511747,457684,317657,304658,32082638
30,995.94,1740.08,435.53,188507913,460497,317657,304658,32082638
31,1017.02,1762.07,435.50,190522709,460497,317657,304658,32082638

In [10]:
# Obtaining the differences between values in residency

df2 = df[['POLL_RES', 'C1_RES', 'C1E_RES', 'C3_RES', 'C6_RES']]
df2 = df2.diff()
display(df2)

        POLL_RES   C1_RES  C1E_RES   C3_RES   C6_RES
STATE
0            NaN      NaN      NaN      NaN      NaN
1            0.0    124.0    116.0    215.0  16265.0
2          276.0    175.0    258.0    212.0  16339.0
3            5.0      0.0    219.0    186.0  16389.0
4           12.0    447.0     66.0    222.0  15109.0
5            0.0    359.0      0.0    212.0  16313.0
6          151.0     42.0      0.0    230.0  16327.0
7           13.0      0.0      0.0    429.0  15937.0
8           19.0    481.0    216.0    219.0  15811.0
9            0.0    281.0    310.0      0.0  16523.0
10          40.0     28.0    320.0      0.0  15615.0
11           7.0      0.0    863.0      0.0  14773.0
12          13.0    251.0    207.0      0.0  15795.0
13           0.0    433.0      0.0      0.0  17262.0
14         243.0     77.0      0.0      0.0  15812.0
15          25.0      0.0      0.0      0.0  17476.0
16          80.0    401.0    159.0   8442.0   8055.0
17           0.0    136.0    108.0  15294.0      0.0
18          55.0     21.0    111.0  14487.0      0.0
19           4.0      0.0    520.0  16379.0      0.0
20          13.0    283.0     72.0  15873.0      0.0
21           0.0    203.0      0.0  16738.0      0.0
22          98.0     51.0      0.0  14550.0      0.0
23           9.0      0.0      0.0  17503.0      0.0
24         310.0    529.0  12387.0   7738.0      0.0
25           0.0    280.0  18557.0      0.0      0.0
26          68.0     30.0  17663.0      0.0      0.0
27          13.0      0.0  17561.0      0.0      0.0
28          15.0  10122.0   4684.0      0.0      0.0
29           0.0  15510.0      0.0      0.0      0.0
30     1996166.0   2813.0      0.0      0.0      0.0
31     2014796.0      0.0      0.0      0.0      0.0